workflows/03-briefing-claude.json
{
  "name": "Morning Briefing IA (Claude)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "briefing-ai",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "c3d4e5f6-0003-4000-8000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "briefing-ai-webhook-id"
    },
    {
      "parameters": {
        "url": "https://api.open-meteo.com/v1/forecast?latitude=48.8566&longitude=2.3522&current=temperature_2m,weather_code&timezone=Europe/Paris",
        "options": {}
      },
      "id": "c3d4e5f6-0003-4000-8000-000000000002",
      "name": "Get Weather",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "url": "https://zenquotes.io/api/random",
        "options": {}
      },
      "id": "c3d4e5f6-0003-4000-8000-000000000003",
      "name": "Get Quote",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "url": "https://www.lemonde.fr/rss/une.xml"
      },
      "id": "c3d4e5f6-0003-4000-8000-000000000004",
      "name": "Get News",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extraire les titres des actualites (items[] = sortie RSS, prendre les 5 premiers)\nconst headlines = items.slice(0, 5).map(item => item.json.title);\n\n// Recuperer la meteo via $() (reference au node en amont)\nconst weather = $('Get Weather').first().json;\nconst temp = Math.round(weather.current?.temperature_2m || 0);\nconst weatherCode = weather.current?.weather_code || 0;\nconst weatherDescriptions = {\n  0: 'ciel degage', 1: 'peu nuageux', 2: 'partiellement nuageux', 3: 'couvert',\n  45: 'brouillard', 48: 'brouillard givrant',\n  51: 'bruine legere', 53: 'bruine', 55: 'bruine forte',\n  61: 'pluie legere', 63: 'pluie', 65: 'pluie forte',\n  71: 'neige legere', 73: 'neige', 75: 'neige forte',\n  80: 'averses legeres', 81: 'averses', 82: 'averses fortes',\n  95: 'orage', 96: 'orage avec grele'\n};\nconst condition = weatherDescriptions[weatherCode] || 'inconnu';\n\n// Recuperer la citation via $()\nconst quoteRaw = $('Get Quote').first().json;\nconst quoteData = Array.isArray(quoteRaw) ? quoteRaw[0] : quoteRaw;\nconst quote = quoteData?.q || 'Citation indisponible';\nconst author = quoteData?.a || 'Inconnu';\n\n// Date du jour en francais\nconst now = new Date();\nconst dateStr = now.toLocaleDateString('fr-FR', {\n  weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'\n});\n\n// Construire le prompt pour Claude\nconst prompt = `Tu es un assistant francophone chaleureux. Genere un briefing matinal personnalise en francais.\n\nVoici les donnees du jour (${dateStr}) :\n\nMETEO A PARIS :\n- Temperature : ${temp}°C\n- Condition : ${condition}\n\nCITATION DU JOUR :\n\\\"${quote}\\\" - ${author}\n\nTITRES D'ACTUALITE (Le Monde) :\n${headlines.map((h, i) => `${i + 1}. ${h}`).join('\\n')}\n\nRedige un court paragraphe (4-6 phrases) qui :\n1. Salue l'utilisateur et mentionne la meteo\n2. Integre naturellement la citation du jour\n3. Resume les grandes tendances des actualites\n4. Termine sur une note positive et motivante\n\nStyle : amical, informatif, comme un ami cultive qui resume la matinee.`;\n\n// Corps de la requete Claude\nconst claudeBody = {\n  model: 'claude-sonnet-4-20250514',\n  max_tokens: 1024,\n  messages: [\n    { role: 'user', content: prompt }\n  ]\n};\n\nreturn [{\n  json: {\n    claudeBody,\n    raw: {\n      date: dateStr,\n      headlines,\n      temperature: temp,\n      condition,\n      weatherCode,\n      quote,\n      author\n    }\n  }\n}];\n"
      },
      "id": "c3d4e5f6-0003-4000-8000-000000000005",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "YOUR_ANTHROPIC_API_KEY"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.claudeBody) }}",
        "options": {}
      },
      "id": "c3d4e5f6-0003-4000-8000-000000000006",
      "name": "Call Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1500, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extraire la reponse de Claude\nconst claudeResponse = items[0].json;\nconst resumeIA = claudeResponse.content?.[0]?.text || claudeResponse.error?.message || 'Resume indisponible';\n\n// Recuperer les donnees brutes du node Build Prompt\nconst raw = $('Build Prompt').first().json.raw;\n\nreturn [{\n  json: {\n    briefing: {\n      date: raw.date,\n      meteo: {\n        ville: 'Paris',\n        temperature: `${raw.temperature}°C`,\n        condition: raw.condition\n      },\n      citation: {\n        texte: raw.quote,\n        auteur: raw.author\n      },\n      actualites: raw.headlines,\n      resume_ia: resumeIA,\n      modele: 'claude-sonnet-4-20250514'\n    }\n  }\n}];\n"
      },
      "id": "c3d4e5f6-0003-4000-8000-000000000007",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1750, 300]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "c3d4e5f6-0003-4000-8000-000000000008",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2000, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get Weather",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Weather": {
      "main": [
        [
          {
            "node": "Get Quote",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Quote": {
      "main": [
        [
          {
            "node": "Get News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get News": {
      "main": [
        [
          {
            "node": "Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prompt": {
      "main": [
        [
          {
            "node": "Call Claude",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Claude": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1
}
